{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="mt-3">Esqueceu sua senha?</h2>
            <p>Digite seu email para receber instruções de como redefinir sua senha.</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    <div class="w-100"> <!-- Aumenta a largura do campo de email para 75% -->
                        {{ form.email }}
                    </div>
                    {% if form.email.errors %}
                        <div class="alert alert-danger">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
