{% extends "base.html" %}
{% block title %}Lista de Materiais{% endblock %}
{% block content %}
<div class="container-fluid mt-4 mb-5">

    <!-- Titulo e botão de Cadastro de novo material-->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">Materiais Cadastrados</h1>
        <a href="{% url 'cadastrar_material' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Novo Material
        </a>
    </div>

      <!-- Formulário de Pesquisa com caixa de seleção para grupo -->
    <form method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Pesquisar por cod. ou nome do material...">
            <select name="grupo" class="form-select">
                <option value="">Todos os grupos</option>
                {% for grupo in grupos %}
                    <option value="{{ grupo.pk }}" {% if request.GET.grupo == grupo.pk|stringformat:"s" %}selected{% endif %}>{{ grupo.nome }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">
                <i class="bi bi-search"></i> Pesquisar
            </button>
            <a href="{% url 'lista_materiais' %}" class="btn btn-outline-secondary">
                <i class="bi bi-eraser"></i> Limpar
            </a>
        </div>
    </form>

    <!-- Tabela com largura aumentada -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th class="text-center">Cod.</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Saldo</th>
                    <th class="text-center">Unidade</th>
                    <th class="text-center">Grupo</th>
                    <th class="text-center">Armazenagem</th>
                    <th class="text-center">Status</th>
<!--                    <th class="text-center">Resp. Cadastro</th>-->
<!--                    <th class="text-center">Data do Cadastro</th>-->
<!--                    <th class="text-center">Última Alteração</th>-->
<!--                    <th class="text-center">Resp. Atualização</th>-->
                    <th class="text-center" style="min-width: 170px;">Ações</th>

                </tr>
            </thead>
            <tbody>
                {% for material in materiais %}
                    <tr>
                        <td class="text-center">{{ material.id }}</td>
                        <td>{{ material.nome }}</td>
                        <td class="text-center">{{ material.saldo_atual }}</td>
                        <td class="text-center">{{ material.unidade }}</td>
                        <td class="text-center">{{ material.grupo }}</td>
                        <td class="text-center">{{ material.armazenagem |default:""}}</td>
                        <td class="text-center">
                        {% if material.ativo %}
                            <span class="badge bg-success">Ativo</span>
                        {% else %}
                            <span class="badge bg-secondary">Inativo</span>
                        {% endif %}
                    </td>
<!--                        <td class="text-center">{{ material.created_by.get_full_name }}</td>-->
<!--                        <td class="text-center">{{ material.data_cadastro|date:"d/m/Y H:i" }}</td>-->
<!--                        <td class="text-center">{{ material.data_alteracao|date:"d/m/Y H:i" }}</td>-->
<!--                        <td class="text-center">{{ material.updated_by.get_full_name }}</td>-->
                        <td class="text-center">
                            <a href="{% url 'editar_material' material.pk %}" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <a href="{% url 'excluir_material' material.pk %}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Excluir
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">Nenhum material encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginação -->
    <nav aria-label="Navegação de página">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?q={{ request.GET.q }}&grupo={{ request.GET.grupo }}&page={{ page_obj.previous_page_number }}" aria-label="Anterior">&laquo;</a>
      </li>
    {% endif %}

    {% if page_obj.number > 2 %}
      <li class="page-item">
        <a class="page-link" href="?q={{ request.GET.q }}&grupo={{ request.GET.grupo }}&page=1">1</a>
      </li>
      {% if page_obj.number > 3 %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
      {% endif %}
    {% endif %}

    {% if page_obj.number|add:"-1" > 1 %}
      <li class="page-item">
        <a class="page-link" href="?q={{ request.GET.q }}&grupo={{ request.GET.grupo }}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a>
      </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>

    {% if page_obj.number|add:"1" <= page_obj.paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="?q={{ request.GET.q }}&grupo={{ request.GET.grupo }}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a>
      </li>
    {% endif %}

    {% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="?q={{ request.GET.q }}&grupo={{ request.GET.grupo }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      </li>
    {% endif %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?q={{ request.GET.q }}&grupo={{ request.GET.grupo }}&page={{ page_obj.next_page_number }}" aria-label="Próximo">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>

</div>
{% endblock %}
