<footer>
    <div class="container">
        <p class="mb-1 text-muted">&copy; 2025 SGM - Sistema de Gerenciamento de Materiais. Todos os direitos reservados.</p>
        <p class="mb-0 text-muted">
            V-Beta - Desenvolvido por
            <a href="https://dbsistemas.com.br" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-reset">
                 DB Sistemas Full Stack
            </a>
            - Contato:
            <a href="mailto:contato@dbsistemas.com.br" class="text-decoration-none">
                <i class="bi bi-envelope-fill"></i> contato@dbsistemas.com.br
            </a>
        </p>
    </div>
</footer>
